footer {
    background: #579c87ff;
    color: #fdcb46ff;
    height: 40px;
    text-align: center;
    align-items: center;
    a { color: #fdcb46ff
    }
}
main {

.menublock
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}



}