footer {
    background: $vert;
    color: $orange;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-top: 2vmin;
    a { 
        color: $orange;
        text-decoration: none;
        font-family: 'Roboto-Regular';
        src: url('font/Roboto-Regular.ttf') format('truetype');
        font-size: 1.5em;
        
    }
}